// Main font
$main-font: 'Montserrat', sans-serif;

// Colors
$accent-background: #f0f0f0;
$violet-accent: #5a2d86;
$orange-accent: #ff662d;
$main-black: #000000;
$main-white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.4);
$gray: rgba(247, 247, 247, 0.2);

//Font size
$main-text-s: 14px;
$main-text-m: 16px;
$main-title-s: 32px;
$main-title-m: 64px;
$subtitle-s: 20px;
$subtitle-m: 34px;
