.assimilation {
    margin-bottom: 57px;
}

.assimilation::after {
    @include pseudo;
    position: absolute;
    width: 65px;
    height: 70px;
    background: {
        image: url(../images/svg/chevron-right.svg);
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    right: 0;
    top: 84px;

    @include for-size(tablet-portrait-up) {
        right: 20px;
        top: 118px;
    }

    @include for-size(desktop-up) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
