.choice {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;

    &__box {
        @include for-size(tablet-portrait-up) {
            padding: 0 80px;
        }
    }

    &__img {
        cursor: zoom-in;
    }
}

.choice__box h2 {
    letter-spacing: 0.03em;
}

.choice::before {
    @include for-size(tablet-portrait-up) {
        @include pseudo;
        position: absolute;
        width: 230px;
        height: 566px;
        background-image: url(../images/img/1dol-right-tab-min.png);
        background-size: contain;
        background-repeat: no-repeat;
        right: 0;
        bottom: 136px;

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/1dol-right-tab@2x-min.png);
        }
    }

    @include for-size(desktop-up) {
        @include pseudo;
        position: absolute;
        width: 240px;
        height: 579px;
        background: {
            image: url(../images/img/1dol-pc-right-min.png);
            size: contain;
            repeat: no-repeat;
        }
        right: 0;
        bottom: 106px;

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/1dol-pc-right@2x-min.png);
        }
    }
}

.choice::after {
    @include for-size(tablet-portrait-up) {
        @include pseudo;
        position: absolute;
        width: 160px;
        height: 650px;
        background: {
            image: url(../images/img/1dol-tab-left-min.png);
            size: cover;
            repeat: no-repeat;
        }
        left: -30px;
        bottom: 525px;

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/1dol-tab-left@2x-min.png);
        }
    }

    @include for-size(desktop-up) {
        @include pseudo;
        position: absolute;
        width: 240px;
        height: 700px;
        background: {
            image: url(../images/img/1dol-pc-left-min.png);
            size: contain;
            repeat: no-repeat;
            position: center;
        }
        right: 0;
        bottom: -75px;
        z-index: 1;

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/1dol-pc-left@2x-min.png);
        }
    }
}
