.choice {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;

    @include for-size(desktop-up) {
        padding-bottom: 90px;
    }

    &__box {
        @include for-size(tablet-portrait-up) {
            padding: 0 80px;
        }

        @include for-size(desktop-up) {
            padding: 0;
            margin-right: 30px;
        }
    }

    &__img {
        cursor: zoom-in;

        @include for-size(desktop-up) {
            width: 100%;
        }
    }
}

.choice .section__info {
    @include for-size(desktop-up) {
        width: 48%;
        padding: 0;
        margin-left: 40px;
    }
}

.choice .section__header {
    @include for-size(desktop-up) {
        width: 33%;
        padding: 0;
    }
}

.choice__box h2 {
    letter-spacing: 0.03em;

    @include for-size(desktop-up) {
        margin-bottom: 20px;
    }
}

.choice::before {
    @include for-size(tablet-portrait-up) {
        @include pseudo;
        position: absolute;
        width: 230px;
        height: 566px;
        background-image: url(../images/img/1dol-right-tab-min.png);
        background-size: contain;
        background-repeat: no-repeat;
        right: 0;
        bottom: 136px;

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/1dol-right-tab@2x-min.png);
        }
    }

    @include for-size(desktop-up) {
        @include pseudo;
        position: absolute;
        width: 323px;
        height: 800px;
        background-image: url(../images/img/1dol-pc-right-min.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 40px 0;

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/1dol-pc-right@2x-min.png);
        }
    }
}

.choice::after {
    @include for-size(tablet-portrait-up) {
        @include pseudo;
        position: absolute;
        width: 160px;
        height: 650px;
        background: {
            image: url(../images/img/1dol-tab-left-min.png);
            size: cover;
            repeat: no-repeat;
        }
        left: -30px;
        bottom: 525px;

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/1dol-tab-left@2x-min.png);
        }
    }

    @include for-size(desktop-up) {
        @include pseudo;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 323px;
        height: 800px;
        background: {
            image: url(../images/img/1dol-pc-left-min.png);
        }

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/1dol-pc-left@2x-min.png);
        }
    }
}

.choice .container__fluid {
    @include for-size(desktop-up) {
        justify-content: center;
    }
}
