.container {
    width: 100%;
    padding: 28px 20px;
    overflow: hidden;

    @include for-size(tablet-portrait-up) {
        width: 630px;
        padding: 20px;
        margin: 0 auto;
    }

    @include for-size(desktop-up) {
        width: 1290px;
    }
}

.container__fluid {
    @include for-size(desktop-up) {
        display: flex;
        align-items: center;
    }
}
