.content__box {
    @include for-size(tablet-portrait-up) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }
}

.img {
    @include for-size(tablet-portrait-up) {
        width: 300px;
        height: auto;
    }
}
