.description {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    background-color: $white-accent;

    @include for-size(desktop-up) {
        padding-bottom: 70px;
    }

    &__header {
        margin-bottom: 40px;

        @include for-size(tablet-portrait-up) {
            margin-bottom: 70px;
        }
    }
}

.descr__list {
    @include for-size(tablet-portrait-up) {
        display: flex;
        justify-content: center;
    }
}

.descr__item {
    text-align: left;
    background: $main-white;
    padding: 30px 20px;
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='3' stroke-dasharray='16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

    @include for-size(tablet-portrait-up) {
        padding: 35px 20px;
        flex-basis: 30%;
        display: flex;
        align-items: center;
    }
}

.descr__item:not(:last-child) {
    margin-bottom: 63px;

    @include for-size(tablet-portrait-up) {
        margin-bottom: inherit;
    }
}

@include for-size(tablet-portrait-up) {
    .descr__item + .descr__item {
        margin-left: 30px;
    }
}

.descr__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 63px;

    @include for-size(tablet-portrait-up) {
        @include font-source-sans(56px, null, 800, 1.2);
    }

    @include for-size(desktop-up) {
        font-size: 64px;
    }
}

.descr__icon {
    @include pseudo;
    width: 200px;
    height: 65px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    border-radius: 50%;
}
