.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0 30px;

    &__item {
        width: 45%;
    }
}

.footer__item + .footer__item {
    margin-left: 25px;

    @include for-size(tablet-portrait-up) {
        margin-left: 60px;
    }
}

.contact__list {
    @include for-size(tablet-portrait-up) {
        display: flex;
    }
}

.contact__item:not(:last-child) {
    margin-bottom: 15px;

    @include for-size(tablet-portrait-up) {
        margin-bottom: 0;
    }
}

.contact__item {
    @include for-size(tablet-portrait-up) {
        width: 45%;
    }

    @include for-size(desktop-up) {
        margin-right: 38px;
    }
}

.contact__item p {
    letter-spacing: normal;
}

.contact__item > .it__text {
    @include for-size(tablet-portrait-up) {
        font-weight: 800;
    }
}

.contact__item + .contact__item {
    @include for-size(tablet-portrait-up) {
        margin-left: 30px;
    }
}

.contact__link {
    display: block;
    @include font-source-sans(14px, $main-black, 500, 1.2);
    text-decoration: none;
    margin-top: 10px;

    &:hover,
    &:focus {
        color: $orange-accent;
    }
}

.social__box {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 20px;
    margin-right: -20px;
}

.social__item {
    margin-right: 20px;
    margin-bottom: 20px;

    @include for-size(desktop-up) {
        flex-basis: inherit;
    }
}

.social__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
}

@include for-size(tablet-portrait-up) {
    .social__box {
        flex-wrap: nowrap;
        margin-top: 20px;
    }

    .social__item:nth-child(even) {
        margin-right: 20px;
    }

    .social__item:nth-last-child() {
        margin-right: 0;
    }

    .social__item:nth-child(-n + 4) {
        margin-bottom: 0;
    }
}

.social__icon {
    @include size(40px, 40px);
    cursor: pointer;
}

.social__icon :hover,
.social__icon:focus {
    opacity: 0.8;
}
