.offer {
    text-align: center;
    background: {
        image: url(../images/img/vector-mob-min.png);
        size: contain;
        repeat: no-repeat;
        position: center;
    }

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/img/vector-mob@2x-min.png);
    }

    @include for-size(tablet-portrait-up) {
        background: {
            image: url(../images/img/vector-tab-min.png);
            size: contain;
            repeat: no-repeat;
            position: center;
        }

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/vector-tab@2x-min.png);
        }
    }

    @include for-size(desktop-up) {
        background: {
            image: url(../images/img/vector-pc-min.png);
            repeat: no-repeat;
            position: center;
        }

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/vector-pc@2x-min.png);
        }

        &__title {
            margin: 0;
            padding: 0;
            width: calc((100% - 30px));
        }
    }
}

.offer-second {
    position: relative;
    background-color: $orange-accent;

    &__info {
        @include for-size(tablet-portrait-up) {
            width: calc((100% - 30px) / 12 * 7);
            margin-bottom: 0;
        }
    }

    &__content {
        @include for-size(tablet-portrait-up) {
            display: inline-block;
            margin: 0 0 25px 64px;
        }

        @include for-size(desktop-up) {
            width: calc((100% - 30px) / 12 * 3);
        }
    }

    &__text {
        @extend %reset;
        padding: 0 5px;
        @include font-source-sans(14px, $main-white, 500, 1.2);
        margin-bottom: 10px;

        @include for-size(tablet-portrait-up) {
            font-size: 20px;
        }
    }
}

.offer-second::after {
    @include pseudo;
    position: absolute;
    width: 65px;
    height: 70px;
    background: {
        image: url(../images/svg/violer-right.svg);
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    right: 0px;
    top: 70px;

    @include for-size(tablet-portrait-up) {
        top: 50%;
        left: 56%;
        transform: translate(-50%, -50%);
    }

    @include for-size(desktop-up) {
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
}

.offer__list {
    @include for-size(tablet-portrait-up) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    @include for-size(desktop-up) {
        display: flex;
        flex-flow: nowrap;
    }
}

.offer__item {
    text-align: center;
    background: $main-white;
    padding: 30px 20px;
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='3' stroke-dasharray='16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

    @include for-size(tablet-portrait-up) {
        width: calc((100% - 30px * 3) / 3);
        margin-right: 30px;
        margin-bottom: 60px;
    }

    @include for-size(desktop-up) {
        margin-bottom: 0;
    }
}

.offer__item:not(:last-child) {
    margin-bottom: 50px;
}

@include for-size(tablet-portrait-up) {
    .offer__item:nth-child(3),
    .offer__item:nth-child(5) {
        margin-right: 0;
    }

    .offer__item:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }
}
@include for-size(desktop-up) {
    .offer__item:last-child {
        margin-right: 0;
    }
}

.offer__icon {
    @include pseudo;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
    border-radius: 50%;
}
