.offer__third > .section__header {
    margin-bottom: 0;

    @include for-size(tablet-portrait-up) {
        padding: 0 50px;
    }
}

.offer__third > .btn-chevron {
    margin-top: 20px;

    @include for-size(tablet-portrait-up) {
        margin-left: 50px;
    }
}
