.offer {
    text-align: center;
    background: {
        image: url(../images/img/vector-mob-min.png);
        size: contain;
        repeat: no-repeat;
        position: center bottom -13px;
    }

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/img/vector-mob@2x-min.png);
    }

    @include for-size(tablet-portrait-up) {
        background: {
            image: url(../images/img/vector-tab-min.png);
            size: contain;
            repeat: no-repeat;
            position: center;
        }

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/vector-tab@2x-min.png);
        }
    }

    @include for-size(desktop-up) {
        background: {
            image: url(../images/img/vector-pc-min.png);
            repeat: no-repeat;
            position: center;
        }

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/vector-pc@2x-min.png);
        }

        &__title {
            margin: 0;
            padding: 0;
            width: calc((100% - 30px));
        }
    }
}

.offer__title .section__title {
    margin-bottom: 50px;
}
