.plan__list {
    list-style-type: disc;
    padding: 0 30px;
    margin-bottom: 20px;

    @include for-size(tablet-portrait-up) {
        padding: 0 25px;
        margin-bottom: 0;
    }

    @include for-size(desktop-up) {
        position: absolute;
        max-width: 622px;
        top: 37%;
        right: 17%;
    }
}

.plan__item:not(:last-child) {
    margin-bottom: 20px;
}

@include for-size(tablet-portrait-up) {
    .plan__item:not(:last-child) {
        margin-bottom: 35px;
    }
}

.plan__header {
    margin-bottom: 0;
    padding: 0;
    @include for-size(tablet-portrait-up) {
        margin-left: auto;
    }

    @include for-size(desktop-up) {
        position: absolute;
        top: 10%;
        right: 0;
    }
}

.plan__header h2 {
    letter-spacing: normal;
    margin-top: 40px;
    margin-bottom: 20px;
}
.plan__text {
    @extend %reset;
    @include font-source-sans(16px, $main-black, 600, 1.2);
    letter-spacing: normal;

    @include for-size(tablet-portrait-up) {
        @include font-source-sans(22px, $main-black, 600, 1.2);
    }
}

.plan__img {
    width: 100vw;

    @include for-size(tablet-portrait-up) {
        max-width: 90%;
    }

    @include for-size(desktop-up) {
        max-width: 30%;
        height: auto;
    }
}

.plan__box {
    overflow: hidden;
    @include for-size(tablet-portrait-up) {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
