.plan {
    position: relative;
    padding: 0;
    padding-top: 40px;

    @include for-size(tablet-portrait-up) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include for-size(desktop-up) {
        padding-top: 110px;
        padding-bottom: 136px;
    }
}

.plan img {
    width: 100%;
}

.plan picture {
    @include for-size(tablet-portrait-up) {
        width: 260px;
        position: absolute;
        top: 336px;
    }

    @media (min-width: 900px) and (max-width: 1199px) {
        width: 386px;
    }

    @include for-size(desktop-up) {
        width: 443px;
        top: 80px;
    }
}

.plan-title {
    margin: 0;
    margin-bottom: 20px;
    font: {
        weight: 800;
        size: 32px;
    }
    line-height: calc(39 / 32);
    color: $main-black;

    @include for-size(tablet-portrait-up) {
        margin-bottom: 40px;
        font-size: 64px;
        line-height: calc(78 / 64);
    }

    @include for-size(desktop-up) {
        max-width: 850px;
        margin-left: auto;
    }
}

.plan-list {
    list-style-type: disc;
    padding: 0 5px;

    @include for-size(tablet-portrait-up) {
        max-width: 410px;
        margin-left: auto;
        padding-left: 50px;
        padding-right: 50px;
    }

    @include for-size(desktop-up) {
        max-width: 650px;
        padding: 0;
        margin-right: 180px;
    }

    &-item {
        margin-bottom: 28px;

        @media (min-width: 900px) and (max-width: 1199px) {
            margin-bottom: 36px;
        }
    }

    &-item:last-of-type {
        margin-bottom: 24px;

        @include for-size(tablet-portrait-up) {
            margin-bottom: 0;
        }
    }
}

.plan-item-text {
    margin: 0;
    font: {
        size: 16px;
        weight: 600;
    }
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;

    @include for-size(tablet-portrait-up) {
        font-size: 22px;
        line-height: calc(27 / 22);
    }
}

.accent-text {
    font-weight: 800;
    color: $orange-accent;
}
