.section {
    position: relative;
    @include size(100%, null);
    padding-top: 40px;
    padding-bottom: 40px;

    @include for-size(tablet-portrait-up) {
        padding: 50px;
    }

    @include for-size(desktop-up) {
        padding-top: 85px;
        padding-bottom: 60px;
    }

    &__img {
        width: 100vw;
    }

    &__clr {
        position: relative;
        background-color: $accent-background;

        &-accent {
            background-color: $violet-accent;
        }
    }

    &__header {
        display: block;
        color: $main-black;
        margin-bottom: 35px;
        @include for-size(tablet-portrait-up) {
            margin-bottom: 50px;
        }

        @include for-size(desktop-up) {
            width: calc((100% - 30px) / 12 * 7);
            margin-bottom: 0;
            padding: 0 30px 30px;
        }
    }

    &__title {
        @extend %reset;
        @include font-source-sans(32px, null, 800, 1.2);
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        letter-spacing: 0.1em;

        @include for-size(tablet-portrait-up) {
            @include font-source-sans(64px, null, 800, 1.2);
            margin-bottom: 40px;
        }
    }

    &__text {
        @extend %reset;
        @include font-source-sans(20px, null, 500, 1.2);
        margin-bottom: 10px;
        z-index: 1;
        position: relative;

        @include for-size(tablet-portrait-up) {
            @include font-source-sans(34px, null, 500, 1.2);
        }
    }

    &__info {
        @include for-size(desktop-up) {
            width: calc((100% - 30px) / 12 * 5);
        }
    }
}

.section__chevron {
    margin: 0;
}

.section__chevron::after {
    @include pseudo;
    position: absolute;
    width: 65px;
    height: 70px;
    background: {
        image: url(../images/svg/chevron-right.svg);
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    right: 5px;
    top: 130px;

    @include for-size(tablet-portrait-up) {
        right: 20px;
        top: 145px;
    }

    @include for-size(desktop-up) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.it {
    @include for-size(desktop-up) {
        padding-top: 126px;
        padding-bottom: 126px;
    }
}
