.section {
    display: block;
    position: relative;
    @include size(100%, auto);
    padding: 20px;

    @include for-size(tablet-portrait-up) {
        padding: 60px;
    }

    &__clr {
        position: relative;
        background-color: $accent-background;

        &-accent {
            background-color: $violet-accent;
        }
    }

    &__header {
        display: inline-block;
        color: $main-black;
        margin-bottom: 50px;
        @include for-size(desktop-up) {
            margin-bottom: 60px;
        }
        @include for-size(desktop-up) {
            width: calc((100% - 30px) / 12 * 7);
            margin-bottom: 0;
            padding: 20px 12px;
        }
    }

    &__title {
        @extend %reset;
        @include font-source-sans(32px, null, 800, 1.2);
        margin-bottom: 10px;

        @include for-size(tablet-portrait-up) {
            @include font-source-sans(64px, null, 800, 1.2);
        }
    }

    &__text {
        @extend %reset;
        @include font-source-sans(20px, null, 500, 1.2);
        margin-bottom: 10px;

        @include for-size(tablet-portrait-up) {
            @include font-source-sans(34px, null, 500, 1.2);
        }
    }

    &__info {
        @include for-size(desktop-up) {
            width: calc((100% - 30px) / 12 * 5);
        }
    }
}

.accent__white {
    color: $main-white;
    font-size: 20px;
    text-align: left;
    @include for-size(tablet-portrait-up) {
        font-size: 34px;
    }
    @include for-size(desktop-up) {
        padding: 20px 12px;
    }
}

.text {
    font-size: 16px;

    @include for-size(tablet-portrait-up) {
        font-size: 22px;
    }
}

.center {
    margin-bottom: 20px;
    @include for-size(desktop-up) {
        padding: 0 100px;
    }
}

.section__chevron::after {
    @include pseudo;
    position: absolute;
    width: 65px;
    height: 70px;
    background: {
        image: url(../images/svg/chevron-right.svg);
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    right: 5px;
    top: 120px;

    @include for-size(tablet-portrait-up) {
        right: 20px;
        top: 150px;
    }

    @include for-size(desktop-up) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.offer {
    background: {
        image: url(../images/img/vectior-mob-min.jpg);
        size: contain;
        repeat: no-repeat;
        position: center;
    }

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/img/vectior-mob@2x-min.jpg);
    }

    @include for-size(tablet-portrait-up) {
        background: {
            image: url(../images/img/vector-tab-min.jpg);
            size: contain;
            repeat: no-repeat;
            position: center;
        }

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/vector-tab@2x-min.jpg);
        }
    }

    @include for-size(desktop-up) {
        background: {
            image: url(../images/img/vector-pc-min.jpg);
            // size: 700px;
            repeat: no-repeat;
            position: center;
        }

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/vector-pc@2x-min.jpg);
        }
    }
}

.parting {
    @include for-size(tablet-portrait-up) {
        background: {
            image: url(../images/svg/serpentine-tab.svg);
            // size: 700px;
            repeat: no-repeat;
            position: center;
        }
    }
}

.offer-second {
    background-color: $orange-accent;
}
