.section {
    display: block;
    position: relative;
    @include size(100%, auto);
    padding: 20px;

    @include for-size(tablet-portrait-up) {
        padding: 50px;
    }

    &__clr {
        position: relative;
        background-color: $accent-background;

        &-accent {
            background-color: $violet-accent;
        }
    }

    &__header {
        display: inline-block;
        color: $main-black;
        margin-bottom: 40px;
        @include for-size(tablet-portrait-up) {
            margin-bottom: 50px;
        }
        @include for-size(desktop-up) {
            width: calc((100% - 30px) / 12 * 7);
            margin-bottom: 0;
            padding: 0 30px 30px;
        }
    }

    &__title {
        @extend %reset;
        @include font-source-sans(32px, null, 800, 1.2);
        margin-bottom: 10px;

        @include for-size(tablet-portrait-up) {
            @include font-source-sans(64px, null, 800, 1.2);
            margin-bottom: 20px;
        }
    }

    &__text {
        @extend %reset;
        @include font-source-sans(20px, null, 500, 1.2);
        margin-bottom: 10px;

        @include for-size(tablet-portrait-up) {
            @include font-source-sans(34px, null, 500, 1.2);
        }
    }

    &__info {
        @include for-size(desktop-up) {
            width: calc((100% - 30px) / 12 * 5);
        }
    }
}

.accent__white {
    color: $main-white;
    font-size: 20px;
    text-align: left;
    @include for-size(tablet-portrait-up) {
        font-size: 34px;
    }
    @include for-size(desktop-up) {
        padding: 20px 12px;
        margin-bottom: 0;
    }
}

.text {
    font-size: 16px;

    @include for-size(tablet-portrait-up) {
        font-size: 22px;
    }
}

.center {
    @include for-size(desktop-up) {
        padding: 0 100px;
    }
}

.section__chevron::after {
    @include pseudo;
    position: absolute;
    width: 65px;
    height: 70px;
    background: {
        image: url(../images/svg/chevron-right.svg);
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    right: 5px;
    top: 80px;

    @include for-size(tablet-portrait-up) {
        right: 20px;
        top: 118px;
    }

    @include for-size(desktop-up) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.offer {
    text-align: center;
    background: {
        image: url(../images/img/vector-mob-min.png);
        size: contain;
        repeat: no-repeat;
        position: center;
    }

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/img/vector-mob@2x-min.png);
    }

    @include for-size(tablet-portrait-up) {
        background: {
            image: url(../images/img/vector-tab-min.png);
            size: contain;
            repeat: no-repeat;
            position: center;
        }

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/vector-tab@2x-min.png);
        }
    }

    @include for-size(desktop-up) {
        background: {
            image: url(../images/img/vector-pc-min.png);
            repeat: no-repeat;
            position: center;
        }

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/vector-pc@2x-min.png);
        }

        &__title {
            margin: 0;
            padding: 0;
            width: calc((100% - 30px));
        }
    }
}

.parting {
    @include for-size(tablet-portrait-up) {
        background: {
            image: url(../images/svg/serpantine.svg);
            size: cover;
            repeat: no-repeat;
            position: center;
        }
    }
    @include for-size(desktop-up) {
        padding: 20px;
        background: {
            image: url(../images/svg/serp-pc.svg);
            size: cover;
            repeat: no-repeat;
            position: center;
        }
    }
}

.offer-second {
    position: relative;
    background-color: $orange-accent;

    &__info {
        @include for-size(tablet-portrait-up) {
            width: calc((100% - 30px) / 12 * 7);
            margin-bottom: 0;
        }
    }

    &__content {
        @include for-size(tablet-portrait-up) {
            display: inline-block;
            margin: 0 0 25px 80px;
        }

        @include for-size(desktop-up) {
            width: calc((100% - 30px) / 12 * 3);
        }
    }

    &__text {
        @extend %reset;
        padding: 0 5px;
        @include font-source-sans(14px, $main-white, 500, 1.2);
        margin-bottom: 10px;

        @include for-size(tablet-portrait-up) {
            font-size: 20px;
        }
    }
}

.offer-second::after {
    @include pseudo;
    position: absolute;
    width: 65px;
    height: 70px;
    background: {
        image: url(../images/svg/violer-right.svg);
        size: cover;
        repeat: no-repeat;
        position: center;
    }
    right: 0px;
    top: 70px;

    @include for-size(tablet-portrait-up) {
        top: 50%;
        left: 56%;
        transform: translate(-50%, -50%);
    }

    @include for-size(desktop-up) {
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
}

.choice {
    position: relative;

    &__box {
        @include for-size(tablet-portrait-up) {
            padding: 0 100px;
        }
    }
}

.choice::before {
    @include for-size(tablet-portrait-up) {
        @include pseudo;
        position: absolute;
        width: 187px;
        height: 564px;
        background: {
            image: url(../images/img/1dol-right-tab-min.png);
            size: contain;
            repeat: no-repeat;
            position: center;
        }
        right: 0;
        bottom: 64px;

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/1dol-right-tab@2x-min.png);
        }
    }

    @include for-size(desktop-up) {
        @include pseudo;
        position: absolute;
        width: 240px;
        height: 579px;
        background: {
            image: url(../images/img/1dol-pc-right-min.png);
            size: contain;
            repeat: no-repeat;
            position: center;
        }
        right: 0;
        bottom: 106px;

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/1dol-pc-right@2x-min.png);
        }
    }
}

.choice::after {
    @include for-size(tablet-portrait-up) {
        @include pseudo;
        position: absolute;
        width: 187px;
        height: 490px;
        background: {
            image: url(../images/img/1dol-tab-left-min.png);
            size: cover;
            repeat: no-repeat;
            position: center;
        }
        left: 0;
        bottom: 500px;

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/1dol-tab-left@2x-min.png);
        }
    }

    @include for-size(desktop-up) {
        @include pseudo;
        position: absolute;
        width: 240px;
        height: 700px;
        background: {
            image: url(../images/img/1dol-pc-left-min.png);
            size: contain;
            repeat: no-repeat;
            position: center;
        }
        right: 0;
        bottom: -75px;
        z-index: 1;

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/1dol-pc-left@2x-min.png);
        }
    }
}
