.section__list {
    @include for-size(tablet-portrait-up) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}

.list__item {
    text-align: left;
    background: $main-white;
    padding: 30px 20px;
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='3' stroke-dasharray='16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

    @include for-size(tablet-portrait-up) {
        width: calc((100% - 30px * 2) / 2);
        margin-bottom: 50px;
    }

    @include for-size(desktop-up) {
        margin-top: 10px;
    }
}

.list__item:not(:last-child) {
    margin-bottom: 50px;
}

@include for-size(tablet-portrait-up) {
    .list__item:not(:nth-child(2n)) {
        margin-right: 30px;
    }

    .list__item:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }
}

.list__center {
    @include for-size(tablet-portrait-up) {
        display: flex;
    }
}

.item__center {
    text-align: center;
    padding: 50px 20px;
    @include for-size(tablet-portrait-up) {
        padding: 12px 44px;
        margin-left: 30px;
    }
    @include for-size(desktop-up) {
        margin-bottom: 0;
    }
}

.item__title {
    @extend %reset;
    @include font-source-sans(16px, $orange-accent, 600, 1.2);
    position: absolute;
    top: -25px;

    @include for-size(tablet-portrait-up) {
        font-size: 22px;
        top: -30px;
    }
}

.item__text {
    @extend %reset;
    @include font-source-sans(14px, null, 500, 1.2);

    @include for-size(tablet-portrait-up) {
        @include font-source-sans(16px, null, 500, 1.2);
    }

    &-clr {
        @extend %reset;
        @include font-source-sans(16px, $orange-accent, 600, 1.2);

        @include for-size(tablet-portrait-up) {
            @include font-source-sans(22px, $orange-accent, 600, 1.2);
        }
    }
}
