.site__header {
    display: block;
    @include size(100vw, auto);
    overflow: hidden;
    min-height: 700px;
    max-width: 100%;
    text-align: center;
    background: {
        color: $violet-accent;
        image: url(./images/img/header-min.png);
        size: 300px;
        repeat: no-repeat;
        position: right bottom;
    }

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/img/header@2x-min.png);
    }

    @include for-size(tablet-portrait-up) {
        background: {
            image: url(../images/img/header-tab-min.png);
            size: 379px;
            repeat: no-repeat;
            position: right 5px bottom;
        }

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/header-tab@2px-min.png);
        }
    }

    @include for-size(desktop-up) {
        background: {
            image: url(../images/img/header-pc-min.png);
            size: 700px;
            repeat: no-repeat;
            position: right 50px bottom;
        }

        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/img/header-pc@2px-min.png);
        }
    }

    &-content {
        text-align: left;
        color: $main-white;
        max-width: 280px;
        @include for-size(tablet-portrait-up) {
            max-width: 440px;
        }
        @include for-size(desktop-up) {
            max-width: 520px;
        }
    }

    &-title {
        @extend %reset;
        @include font-source-sans(20px, null, 500, 1.2);
        margin-bottom: 10px;

        @include for-size(tablet-portrait-up) {
            @include font-source-sans(64px, null, 500, 1.2);
        }
    }

    &-text {
        @extend %reset;
        @include font-source-sans(16px, null, 600, 1.2);
        margin-bottom: 40px;

        @include for-size(tablet-portrait-up) {
            @include font-source-sans(22px, null, 500, 1.2);
            margin-bottom: 50px;
        }
        @include for-size(desktop-up) {
            margin-bottom: 70px;
        }
    }
}

.site__nav {
    margin-bottom: 20px;
    @include for-size(tablet-portrait-up) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 52px;
    }
}

.site__logo {
    display: block;
    margin-bottom: 20px;

    @include for-size(tablet-portrait-up) {
        margin-bottom: 0;
    }
}

.site__heading {
    @extend %reset;
    @include font-source-sans(32px, null, 800, 1.2);

    @include for-size(tablet-portrait-up) {
        @include font-source-sans(48px, null, 800, 1.2);
    }

    @include for-size(desktop-up) {
        @include font-source-sans(64px, null, 800, 1.2);
    }

    &-text {
        @extend %reset;
        @include font-source-sans(20px, null, 500, 1.2);

        @include for-size(tablet-portrait-up) {
            @include font-source-sans(28px, null, 500, 1.2);
        }

        @include for-size(desktop-up) {
            @include font-source-sans(34px, null, 500, 1.2);
        }
    }
}
