.wrapper {
    @include for-size(desktop-up) {
        max-width: 850px;
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}
