.btn__play {
    display: block;
    @include size(80px, 80px);
    border-radius: 50%;
    margin-top: 100px;
    background: {
        image: url(../images/svg/btn-play.svg);
        size: cover;
        repeat: no-repeat;
        position: center;
    }

    @include for-size(tablet-portrait-up) {
        @include size(100px, 100px);
        margin-top: 142px;
        margin-left: 35px;
    }

    @include for-size(desktop-up) {
        position: absolute;
        bottom: 200px;
        left: 45%;
        transform: translateX(-50%);
    }
}

.btn__play:hover,
.btn__play:focus {
    opacity: 0.8;
}
